<header class="header">
  <div class="header__inner">
    <a class="logo" href="main.html"><img src="images/logo.svg" alt="DIGIFT"></a>
    <nav class="main-menu">
      <a class="main-menu__link" href="#">Для бизнеса</a>
      <a class="main-menu__link" href="#">Аналитика</a>
      <a class="main-menu__link" href="#">О компании</a>
      <a class="main-menu__link" href="contacts.html">Контакты</a>
      <a class="main-menu__link main-menu__link--buy-link" href="#">Купить <span class="xs-hidden">подарочную </span>карту</a>
    </nav>
  </div>
</header>
