<header class="header">
  <div class="header__inner">
    <a class="logo" href="index.html"><img src="images/logo.png" alt="DIGIFT"></a>
    <nav class="main-menu">
      <a class="main-menu__link" href="#">Для бизнеса</a>
      <a class="main-menu__link" href="#">Аналитика</a>
      <a class="main-menu__link" href="#">О компании</a>
      <a class="main-menu__link" href="#">Контакты</a>
      <a class="main-menu__link main-menu__link--buy-link" href="#">Купить подарочную карту</a>
    </nav>
  </div>
</header>
