<header class="header">
  <div class="header__inner">
    <a class="logo" href="main.html"><img width="103" height="52" src="images/logo.svg" alt="DIGIFT"></a>
    <nav class="main-menu">
      <div class="js-root main-menu__item">
        <a class="main-menu__link" href="#">Для бизнеса</a>
        <div class="main-menu__dropdown">
          <div class="dropdown">
            <a class="dropdown__link" href="partners.html">Партнеры</a>
            <a class="dropdown__link" href="processing.html">Процессинг и модули для продажи карт</a>
            <a class="dropdown__link" href="showcase.html">Витрина для программ лояльности</a>
            <a class="dropdown__link" href="sales.html">Корпоративные продажи</a>
            <a class="dropdown__link" href="#">Технологии</a>
          </div>
        </div>
      </div>
      <div class="main-menu__item">
        <a class="main-menu__link" href="analytics.html">Аналитика</a>
      </div>
      <div class="js-root main-menu__item">
        <a class="main-menu__link" href="about.html">О компании</a>
        <div class="main-menu__dropdown">
          <div class="dropdown">
            <a class="dropdown__link" href="#">Пункт 1</a>
            <a class="dropdown__link" href="#">Пункт 2</a>
            <a class="dropdown__link" href="№">Пункт 3</a>
          </div>
        </div>
      </div>
      <div class="main-menu__item">
        <a class="main-menu__link" href="contacts.html">Контакты</a>
      </div>
      <div class="main-menu__item">
        <a class="main-menu__link main-menu__link--buy-link" href="#">Купить <span class="xs-hidden">подарочную </span>карту</a>
      </div>
    </nav>
  </div>
</header>
