<div class="request">
  <div class="request__block">
    <div class="request__text">
      <p class="request__title">Бесплатная<br> установка сервиса</p>
      <p>Вы платите комиссию только комиссию<br> с реализованных карт</p>
    </div>
  </div>
  <div class="request__block">
    <form class="request__form" action="/" method="get">
      <label class="label" for="name">
        <input class="js-input input" name="name" type="text" value="">
        <span class="label__placeholder">Ваше имя</span>
      </label>
      <label class="label" for="email">
        <input class="js-input input error" name="email" type="email" value="">
        <span class="label__placeholder">Email</span>
      </label>
      <label class="label" for="phone">
        <input class="js-input input" name="phone" type="tel" value="">
        <span class="label__placeholder">Телефон</span>
      </label>
      <button class="button" type="submit">Связаться с нами</button>
    </form>
  </div>
</div>
