.cards
  display: flex
  flex-wrap: wrap
  height: 80%
  max-height: 720px
  width: 100%

.card
  height: 50%
  max-height: 360px
  max-width: 300px
  overflow: hidden
  position: relative
  width: 33.333%

  &--text_white
    color: #fff

  &:hover
    .card__front
      transform: perspective(10000px) rotateY(-179.9deg)

    .card__back
      transform: perspective(10000px) rotateY(0deg)

  &__front,
  &__back
    backface-visibility: hidden
    height: 100%
    left: 0
    position: absolute
    transition: transform .3s ease-in-out 0s
    top: 0
    width: 100%

  &__front
    color: #1e1e1e
    padding: 48px
    transform: perspective(10000px) rotateY(0deg)

    &--text_white
      color: #fff

    &--light_bg
      background-color: rgba(255,255,255,0.4)

    &--green_bg
      background-color: #00e0b4

    &--blue_bg
      background-color: #120e62

    &--light_blue_bg
      background-color: #4740e3

    &--align_center
      align-items: center
      display: flex
      flex-flow: column
      justify-content: center

    &--align_end
      align-items: flex-start
      display: flex
      flex-flow: column
      justify-content: flex-end

  &__back
    background-color: #fff
    padding: 13.888% 16.666%
    transform: perspective(10000px) rotateY(180deg)

    &--align_center
      align-items: center
      display: flex
      flex-flow: column
      justify-content: center

    //&--decorated
      &::before
        border-width: 12px
        border-style: solid
        content: ''
        height: 0
        left: auto
        position: absolute
        right: 0
        top: 0
        width: 0

    //&--decorated_red
      &::before
        border-color: #ff1e39
        border-bottom-color: transparent
        border-left-color: transparent

    //&--decorated_green
      &::before
        border-color: #00e0b4
        border-bottom-color: transparent
        border-left-color: transparent

    &--background_image
      background-position: 50% 50%
      background-repeat: no-repeat
      background-size: cover

  &__icon
    background-color: #1e1e1e
    border-radius: 4px
    display: block
    height: 48px
    margin-bottom: 24px
    width: 48px

    &--dark_green
      background-color: #00635b

    &--green
      background-color: #00e0b4

    &--white
      background-color: #fff
