.footer
  background-color: #fff
  padding: 72px 6.25%

  @media(min-height: 800px)
    padding-top: 108px
    padding-bottom: 108px

  &__top
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 5px

    @media(min-width: 1200px)
      flex-wrap: nowrap

  &__bottom
    align-items: center
    display: flex
    justify-content: space-between

  &__logo
    display: inline-block
    min-width: 120px
    width: 120px

  &__copyright
    color: #7d7d7d
    font-size: 16px
    margin-bottom: 0

  &__links
    display: flex

  &__link
    display: inline-block
    height: 20px
    margin-right: 34px
    opacity: 1
    transition: opacity 0.3s
    width: 20px

    &:hover
      opacity: 0.8

    &:active
      opacity: 1

    &:last-child
      margin-right: 0

  &__link-icon
    fill: #1e1e1e
    height: 20px
    width: 20px

.footer-menu
  font-size: 16px
  line-height: 20px
  margin-bottom: 60px
  width: 50%

  @media(min-width: 1200px)
    margin-left: 7.142%
    padding-right: 2.698%
    width: 25%

  &:first-child
    margin-left: 0

  &:last-child
    padding-right: 0

  &__title
    color: #7d7d7d
    font-size: 13px
    font-weight: 500
    letter-spacing: 1.5px
    margin-bottom: 20px
    opacity: 0.65
    white-space: nowrap

  &__item
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

    &--phone
      margin-bottom: 7px

    &--time
      line-height: 23px
      opacity: 0.6

  &__link
    color: #1e1e1e
    display: inline-block
    opacity: 1
    padding-top: 5px
    padding-bottom: 5px
    transition: opacity 0.3s
    text-decoration: none

    &--phone
      font-size: 22px
      white-space: nowrap

    &:hover
      opacity: 0.8

    &:active
      opacity: 1
