.header
  left: 0
  opacity: 1
  position: fixed
  top: 0
  transition: z-index 0.5s, opacity 0.3s
  width: 100%
  z-index: 2

  &.visibility-hidden
    opacity: 0

  &.hidden
    z-index: -1

  &__inner
    align-items: center
    display: flex
    margin-left: auto
    margin-right: auto
    min-width: 1024px
    padding-top: 24px
    padding-left: 45px
    padding-right: 45px

.logo
  display: inline-block
  height: 51px
  width: 103px

.main-menu
  display: flex
  font-size: 16px
  letter-spacing: 0.5px
  width: 100%

  &.white
    .main-menu__link
      color: #fff

  &__link
    color: #1e1e1e
    margin-left: 42px
    opacity: 1
    padding-top: 4px
    padding-bottom: 3px
    transition: color 0.3s, opacity 0.3s
    text-decoration: none

    &:hover
      opacity: 0.8

    @media(min-width: 1200px)
      margin-left: 72px

    &--buy-link
      background: url('../images/icons/cards.png') no-repeat 100% 50% transparent
      color: #262626
      margin-left: auto
      padding-top: 4px
      padding-bottom: 3px
      padding-right: 58px
      text-decoration: none

      @media(min-width: 1200px)
        margin-left: auto

      @media(min-width: 1440px)
        margin-left: auto

    .xs-hidden
      @media(max-width: 1199px)
        display: none
