.links
  align-items: flex-end
  bottom: 0
  display: flex
  min-height: 224px
  left: 0
  padding-left: 6.25%
  position: absolute
  top: auto
  width: 100%

.link
  color: #fff
  display: flex
  flex-flow: column
  justify-content: flex-end
  height: 60%
  min-height: 224px
  padding: 43px 48px
  text-decoration: none
  transition: height 0.5s
  width: 33.33%

  &--dark_text
    color: #002c29

  &--green_bg
    background-color: #00e0b4

  &--blue_bg
    background-color: #120e62

  &--light_blue_bg
    background-color: #4740e3

  &:hover
    height: 100%

    .link__text-block
      max-height: 280px
      opacity: 1
      padding-top: 27px
      visibility: visible

  &__title-block
    @media(min-width: 1440px)
      align-items: center
      display: flex
      justify-content: space-between

  &__title
    font-size: 20px

  &__icon
    background-color: #1e1e1e
    border-radius: 4px
    display: block
    height: 48px
    margin-bottom: 26px
    width: 48px

    @media(min-width: 1440px)
      margin-bottom: 0
      order: 2

    &--white
      background-color: #fff

  &__text-block
    max-height: 0
    opacity: 0
    overflow: hidden
    padding-top: 0
    transition: max-height 0.3s, opacity 0.3s, padding-top 0.3s, visibility 0.3s
    visibility: hidden

  &__text
    display: block
    opacity: 0.8
    padding-bottom: 30px
