.block-1
  padding-bottom: 224px

.block-2
  height: 76.5%
  max-width: 598px
  max-height: 533px

.block-3
  padding-bottom: 13.6%

  @media(min-height: 900px)
    padding-bottom: 9%

.block-4
  display: block
  height: 72%
  max-height: 72%
  max-width: initial
  margin-top: 7.5%
  margin-left: -23.5%
  width: auto

.block-5
  display: flex
  flex-flow: column
  justify-content: space-between
  height: 77%
  padding-bottom: 90px

.block-6
  max-height: 74%

.block-7
  padding-bottom: 225px

.block-8
  display: block
  height: 58%
  max-height: 58%
  margin-top: 10%
  max-width: initial
  width: auto

.block-9
  font-size: 16px
  padding-bottom: 13.6%

  @media(min-height: 650px)
    font-size: 18px

  @media(min-height: 900px)
    padding-bottom: 9%

  h1
    font-size: 24px
    line-height: 32px
    margin-bottom: 9px

    @media(min-width: 1300px) and (min-height: 700px)
      font-size: 28px
      line-height: 34px
      margin-bottom: 18px

    @media(min-width: 1440px) and (min-height: 700px)
      font-size: 42px
      line-height: 50px
      margin-bottom: 26px

.block-10
  overflow-y: hidden
  padding-bottom: 90px
  width: 68.08%

  h1
    margin-bottom: 47px

.block-11
  display: inline-block
  position: relative

  &::after
    background-color: #fff
    content: ''
    height: 100px
    left: 50%
    opacity: 0.32
    position: absolute
    top: 35px
    width: 1px
