.block-1
  padding-bottom: 224px

.block-2
  height: 76.5%
  max-width: 598px
  max-height: 533px

.block-3
  padding-bottom: 13.6%

  @media(min-height: 900px)
    padding-bottom: 9%

.block-4
  overflow: hidden

.block-5
  display: block
  margin-left: -5%
  margin-top: 9%
  max-width: initial
  width: 610px

.block-6
  height: 70%
  max-width: initial
  margin-top: 5%
  margin-left: -23.5%
  width: auto
