.dots-container
  position: relative

.cards-slider
  height: 100%
  max-width: 900px
  width: 100%

  .slick-list,
  .slick-track
    height: 100%

  &__slide
    display: flex
    flex-flow: column
    justify-content: flex-end

  &.slick-initialized
    .cards-slider__slide
      display: flex

.articles-slider
  margin-right: -32.7%
  width: 948px

  @media(min-width: 1440px)
    width: 1152px

  @media(min-width: 1900px)
    margin-right: auto
    margin-left: auto

  .slick-list,
  .slick-track
    align-items: stretch
    display: flex

  .slick-next,
  .slick-prev
    top: 50%

  .slick-next
    right: calc(32.7% + 32px)

    @media(min-width: 1440px)
      right: calc(20% + 14px)

    @media(min-width: 1920px)
      right: 65px

  &__slide
    .article
      font-size: 16px
      height: 100%
      margin-right: 16px

      @media(min-width: 1440px)
        font-size: 18px
        margin-right: 24px

  &__slide-fake
    background-color: rgba(255,255,255,0.01)
    display: block
    height: 100%
    max-width: 360px
    min-width: 300px
    margin-right: 16px
    opacity: 0.01

    @media(min-width: 1440px)
      margin-right: 24px


.no_pointer_events
  .card,
  .article
    pointer-events: none
